<% provide :title, t("title-about") %>
<h1><%= t("title-about") %></h1>
<p>
  <%= t("about-page.title-about-1") %>
  <%= link_to Settings.webpage.link1 do %>
    <em><%= t("about-page.title-about-2") %></em>
  <% end %>
  <%= t("about-page.title-about-3") %>
  <%= link_to Settings.webpage.link2 do %>
    <%= t("about-page.title-about-4") %>
  <% end %>
  <%= t("about-page.title-about-5") %>
  <%= link_to Settings.webpage.link3 do %>
    <%= t("about-page.title-about-6") %>
  <% end %>
  <%= t("about-page.title-about-7") %>
  <%= link_to Settings.webpage.link4 do %>
    <%= t("about-page.title-about-8") %>
  <% end %>.
  <%= t("about-page.title-about-9") %>
</p>
