<h1><%= t("send_mail_forgotpassword.tittle_sm_fogotpassword1") %></h1>

<p><%= t("send_mail_forgotpassword.tittle_sm_fogotpassword2") %></p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p><%= t("send_mail_forgotpassword.tittle_sm_fogotpassword3") %></p>

<p><%= t("send_mail_forgotpassword.tittle_sm_fogotpassword4") %></p>
