<footer class="footer">
  <small>
    <%= t("footer-page.title-footer-1") %><%= link_to t("home-page.title-home-2"), "#" %>
    <%= t("footer-page.title-footer-2") %><%= link_to t("title-author"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title-about"), about_path %></li>
      <li><%= link_to t("title-contact"), contact_path %></li>
      <li><%= link_to t("footer-page.title-footer-3"), Settings.webpage.link1 %></li>
    </ul>
  </nav>
</footer>
